<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
  <section id="pvr.vuplus">

    <!-- Connection -->
    <category id="connection" label="30005">
      <group id="1" label="30038">
        <setting id="host" type="string" label="30000">
          <level>0</level>
          <default>127.0.0.1</default>
          <control type="edit" format="string" />
        </setting>
        <setting id="webport" type="integer" label="30012">
          <level>0</level>
          <default>80</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>65535</maximum>
          </constraints>
          <control type="edit" format="integer" />
        </setting>      
        <setting id="use_secure" type="boolean" label="30028">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
      <group id="2" label="30051">
        <setting id="user" type="string" label="30003">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string" />
        </setting>
        <setting id="pass" type="string" label="30004">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <hidden>true</hidden>
          </control>
        </setting>
      </group>      
      <group id="3" label="30039">
        <setting id="autoconfig" type="boolean" label="30029">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="streamport" type="integer" label="30002">
          <level>0</level>
          <default>8001</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>65535</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="autoconfig">false</dependency>
          </dependencies>
          <control type="edit" format="integer" />
        </setting>     
        <setting id="use_secure_stream" type="boolean" label="30066">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="autoconfig">false</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="use_login_stream" type="boolean" label="30067">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="autoconfig">false</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
      </group>
    </category>

    <!-- General -->
    <category id="general" label="30018">
      <group id="1" label="30006">
        <setting id="onlinepicons" type="boolean" label="30027">
          <level>0</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="usepiconseuformat" type="boolean" parent="onlinepicons" label="30035">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="onlinepicons">true</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="iconpath" type="path" label="30008">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>true</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="onlinepicons">false</dependency>
          </dependencies>
          <control type="button" format="path">
            <heading>657</heading>
          </control>
        </setting>        
      </group>

      <group id="2" label="30009">
        <setting id="updateint" type="integer" label="30015">
          <level>0</level>
          <default>2</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>60</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>true</popup>
            <formatlabel>14044</formatlabel>
          </control>
        </setting>      
      </group>
    </category>

    <!-- Channels -->
    <category id="channels" label="30019">
      <group id="1" label="30018">
        <setting id="zap" type="boolean" label="30013">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
      <group id="2" label="30056">
        <setting id="tvgroupmode" type="integer" label="30025">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30074">0</option> <!-- ALL_GROUPS -->
              <option label="30075">1</option> <!-- ONLY_ONE_GROUP -->
              <option label="30078">2</option> <!-- FAVOURITES_GROUP -->
            </options>
          </constraints>
          <control type="spinner" format="integer" />
        </setting>        
        <setting id="onetvgroup" type="string" parent="tvgroupmode" label="30026">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="tvgroupmode" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
        <setting id="tvfavouritesmode" type="integer" label="30068">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30430">0</option> <!-- DISABLED -->
              <option label="30076">1</option> <!-- AS_FIRST_GROUP -->
              <option label="30077">2</option> <!-- AS_LAST_GROUP -->
            </options>
          </constraints>
          <dependencies>
            <dependency type="visible">
              <or>
                <condition setting="tvgroupmode" operator="is">0</condition>
                <condition setting="tvgroupmode" operator="is">1</condition>
              </or>
            </dependency>
          </dependencies>
          <control type="spinner" format="integer" />
        </setting>        
      </group>
      <group id="3" label="30057">
        <setting id="radiogroupmode" type="integer" label="30058">
          <level>0</level>
          <default>2</default>
          <constraints>
            <options>
              <option label="30074">0</option> <!-- ALL_GROUPS -->
              <option label="30075">1</option> <!-- ONLY_ONE_GROUP -->
              <option label="30078">2</option> <!-- FAVOURITES_GROUP -->
            </options>
          </constraints>
          <control type="spinner" format="integer" />
        </setting>        
        <setting id="oneradiogroup" type="string" parent="radiogroupmode" label="30059">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="radiogroupmode" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
        <setting id="radiofavouritesmode" type="integer" label="30069">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30430">0</option> <!-- DISABLED -->
              <option label="30076">1</option> <!-- AS_FIRST_GROUP -->
              <option label="30077">2</option> <!-- AS_LAST_GROUP -->
            </options>
          </constraints>
          <dependencies>
            <dependency type="visible">
              <or>
                <condition setting="radiogroupmode" operator="is">0</condition>
                <condition setting="radiogroupmode" operator="is">1</condition>
              </or>
            </dependency>
          </dependencies>
          <control type="spinner" format="integer" />
        </setting>        
      </group>      
    </category>

    <!-- EPG -->
    <category id="epg" label="30032">
      <group id="1" label="30031">
        <setting id="extractshowinfoenabled" type="boolean" label="30033">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="extractshowinfofile" type="path" parent="extractshowinfoenabled" label="30046">
          <level>0</level>
          <default>special://userdata/addon_data/pvr.vuplus/showInfo/English-ShowInfo.xml</default>
          <constraints>
            <allowempty>false</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="extractshowinfoenabled">true</dependency>
          </dependencies>
          <control type="button" format="file">
            <heading>1033</heading>
          </control>
        </setting>
      </group>
      <group id="2" label="30053">
        <setting id="genreidmapenabled" type="boolean" label="30054">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="genreidmapfile" type="path" parent="genreidmapenabled" label="30055">
          <level>0</level>
          <default>special://userdata/addon_data/pvr.vuplus/genres/genreIdMappings/Sky-UK.xml</default>
          <constraints>
            <allowempty>false</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="genreidmapenabled">true</dependency>
          </dependencies>
          <control type="button" format="file">
            <heading>1033</heading>
          </control>
        </setting>
      </group>
      <group id="3" label="30047">
        <setting id="rytecgenretextmapenabled" type="boolean" label="30048">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="rytecgenretextmapfile" type="path" parent="rytecgenretextmapenabled" label="30049">
          <level>0</level>
          <default>special://userdata/addon_data/pvr.vuplus/genres/genreRytecTextMappings/Rytec-UK-Ireland.xml</default>
          <constraints>
            <allowempty>false</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="rytecgenretextmapenabled">true</dependency>
          </dependencies>
          <control type="button" format="file">
            <heading>1033</heading>
          </control>
        </setting>
        <setting id="logmissinggenremapping" type="boolean" parent="rytecgenretextmapenabled" label="30037">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="rytecgenretextmapenabled">true</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
      </group>
    </category>

    <!-- Recordings & Timers -->
    <category id="recordings-timers" label="30070">
      <group id="1" label="30071">
        <setting id="recordingpath" type="string" label="30023">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string" />
        </setting>
        <setting id="onlycurrent" type="boolean" label="30017">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="keepfolders" type="boolean" label="30030">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
      
      <group id="2" label="30072">
        <setting id="enablegenrepeattimers" type="boolean" label="30036">
          <level>0</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="numgenrepeattimers" type="integer" parent="enablegenrepeattimers" label="30073">
          <level>0</level>
          <default>1</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>10</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enablegenrepeattimers">true</dependency>
          </dependencies>
          <control type="edit" format="integer" />
        </setting>    
        <setting id="enableautotimers" type="boolean" label="30034">
          <level>0</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="timerlistcleanup" type="boolean" label="30011">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
    </category>

    <!-- Timeshift -->
    <category id="timeshift" label="30060">
      <group id="1" label="30060">
        <setting id="enabletimeshift" type="integer" label="30061">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30063">0</option> <!-- OFF -->
              <option label="30064">1</option> <!-- ON_PLAYBACK -->
              <option label="30065">2</option> <!-- ON_PAUSE -->
            </options>
          </constraints>
          <control type="spinner" format="integer" />
        </setting>
        <setting id="timeshiftbufferpath" type="path" parent="enabletimeshift" label="30062">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>true</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enabletimeshift" operator="gt">0</dependency>
          </dependencies>
          <control type="button" format="path">
            <heading>657</heading>
          </control>
        </setting>
      </group>
    </category>

    <!-- Advanced -->
    <category id="advanced" label="30020">      
      <group id="1" label="30052">
        <setting id="prependoutline" type="integer" label="30040">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30042">0</option> <!-- NEVER -->
              <option label="30043">1</option> <!-- IN_EPG -->
              <option label="30044">2</option> <!-- IN_RECORDINGS -->
              <option label="30045">3</option> <!-- ALWAYS -->
            </options>
          </constraints>
          <control type="list" format="integer" />
        </setting>
        <setting id="setpowerstate" type="boolean" label="30024">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="readtimeout" type="integer" label="30050">
          <level>0</level>
          <default>0</default>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>60</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>true</popup>
            <formatlabel>14045</formatlabel>
          </control>
        </setting>
        <setting id="streamreadchunksize" type="integer" label="30041">
          <level>0</level>
          <default>0</default>
          <constraints>
            <minimum>0</minimum>
            <step>4</step>
            <maximum>128</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>true</popup>
            <formatlabel>14049</formatlabel>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
