<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
  <section id="addon" label="-1" help="-1">

    <!-- Advanced -->
    <category id="advanced" label="30020" help="30740">
      <group id="1" label="30115">
        <setting id="nodebug" type="boolean" label="30144" help="30747">
          <level>1</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="debugnormal" type="boolean" parent="nodebug" label="30111" help="30745">
          <level>1</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="nodebug">false</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="tracedebug" type="boolean" parent="nodebug" label="30104" help="30746">
          <level>1</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="nodebug">false</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
      </group>
    </category>
  </section>
</settings>
