Source: kodi-pvr-vuplus
Priority: extra
Maintainer: Cristiano A. Silva <hudokkow@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml-dev, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-vuplus
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vu+ PVR for Kodi
 Vu+ PVR for Kodi

Package: kodi-pvr-vuplus-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Vu+ PVR for Kodi
 debug symbols for Vu+ PVR for Kodi
